html {
	height: 100%;
}

.page-header {
	margin-bottom: 10px;
}

#canvasHolder {
	width: 840px;
	height: 475px;
	border: 2px dashed #CCCCCC;
	background: #EEEEEE;
}

canvas.cnv {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
	position: absolute;
}

.btn {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#cnv0 {
	z-index: 20;
}

#cnv {
	z-index: 21;
}

.tool-container i[class^="icon-"] {
	margin-top: 9px;
}

.element-invisible {
	position: fixed !important;
	top: -100px;
	left: -100px;
	height: 1px;
	width: 1px;
	overflow: hidden; /* we make the box 1x1 pixel and prevent overflow */
	filter: alpha(opacity =   0);
	/* that one we could drop,  we're really taking about one single pixel after all */
	opacity: 0; /* we make that single box transparent */
}

[id^="button-"] {
	width: 19px;
	height: 18px;
}

#leftBar [id^="button-"] {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

#linkField {
	width: 30em;
}

#link-brushsize {
	display: table-cell;
	width: 19px;
	height: 28px;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 5px;
}

#brush {
	width: 5px;
	height: 5px;
	background-color: black;
	display: inline-block;
	border-radius: 50%;
}

#pasteText {
	color: #999999;
	font-size: 16px;
	font-style: italic;
	z-index: 1;
}

#pasteTextHolder {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	z-index: 0;
	width: 840px;
	height: 475px;
}

#canvases {
	position: relative;
}

.bigicon {
	width: 27px !important;
	height: 23px !important;
	margin-top: -2px;
}

#textOk {
	width: 25px;
	height: 19px;
	background: url('static/img/glyphicons_206_ok_2.png');
}

#zoomTool {
	float: left;
	display: block;
	width: 894px;
	margin-right: 46px;
}

#zoomTool * {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

#zoom {
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	background: #EEEEEE;
	padding: 3px 5px;
}

#keyIcon {
	color: #BBBBBB;
	font-size: large;
	background: #F6F6F6;
	line-height: 50px;
	padding: 5px 8px;
	border-radius: 5px;
	-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.23);
	-moz-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.23);
	box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.23);
}
.page-footer {
	display:block;
	color: #AAAAAA;
	border-top: 1px solid #eee;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
	font-weight: bold;
	width: 840px;
}
.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.crosshair {
	cursor: crosshair;
}
